RewriteEngine on
RewriteRule ^collection/([^/]+)/?$ public_collection.php?username=$1 [L]
RewriteRule ^collection$ my_collection.php [L]
RewriteRule ^login$ admin/login.php [L]
RewriteRule ^register$ admin/register.php [L]
RewriteRule ^logout$ admin/logout.php [L]

php_value upload_max_filesize 6M
