@font-face {
    font-family: 'CourierPrime';
    src: url('CP-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CourierPrime';
    src: url('CP-RI.ttf') format('truetype');
    font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: 'CourierPrime';
    src: url('CP-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CourierPrime';
    src: url('CP-BI.ttf') format('truetype');
    font-weight: bold;
	font-style: italic;
}